body {
  text-align: center;
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}
.madal {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}
.pad {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  background: #c47f33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  user-select: none;
  cursor: pointer;
}
.pad:active {
  transform: scale(0.95);
  background: #b36e22;
}
